section.grid {
  display: grid;
  // we're auto-fitting as many columns in as possible, but the min should be 340px
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  // any new columns should 340px high
  grid-auto-rows: 340px;
  // gaps should be 20px across by 20px down
  grid-gap: 20px 20px;
  
  a {
    // fill the space and make the image centered horizontally and vertically
    display: flex;
    justify-content: center;
    align-items: center;
    
    // but add some padding and a border
    padding: 18px;
    border: 2px solid transparent;
    
    &:hover {
      border-color: #eeeeee;
    }
  }
  
  img {
    // make the image have a max
    max-height: 300px;
    max-width: 300px;
  }
}